/* ===Create Patient=== */
.createpatient{
    float: right;
    margin-top: -35px;
    margin-right: 208px;
}

.border-line{
    border-bottom: 1px solid #E4E9F2;
    border-top: 1px solid #E4E9F2;
}

.first{
    margin-top: 10px;
}

.second{
    margin-top: -10px;
}

.maincolumn{
    display: flex;
    gap: 22px;
}