.forgotpassword{
    margin-top: -25px;
    margin-left: -15px;
}

.line1{
    border-bottom: 1px solid #E4E9F2;
    border-top: 1px solid #E4E9F2;
}

.first{
    margin-top: 10px;
}

.second{
    margin-top: -10px;
}